<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The page supports only a dark color schemes -->
    <meta name="color-scheme" content="dark">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">

    <!-- Replace the Bootstrap CSS with the
         Bootstrap-Dark Variant CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
        padding-top: 5rem;
      }

      form {
        margin-bottom: 2rem;
      }
    </style>

    <title>NBA Scoreboard</title>
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NBA Scoreboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/nanhoes/NBA-scoreboard#readme">Documentation</a>
        </li>
    </div>
  </div>
</nav>

<main class="container">

  <div class="starter-template py-5 px-3">
    <h1>Settings</h1>
    
        <!-- BRIGHTNESS -->
    <form action="/brightness" method="POST">
      <div class="form-group">
        <label for="formControlRange">Brightness </label>
        <input min="10" type="range" class="form-control-range" id="formControlRange" step="10" name="brightness" value="{{ brightness }}">
        <button type="submit" class="btn btn-success btn-sm">Update</button>
      </div>
    </form>
    
    
    
       <!-- COLUMNS -->
<div class="container">
  <div class="row align-items-start">
    <!-- 1X1 -->
    <form action="/NBA", method="POST">
    <div class="col">
			<div class="card bg-light mb-3" style="max-width: 18rem;">
  			<div class="card-header">
          <div class="form-check form-switch" >
            <input class="form-check-input" type="checkbox" {% if NBA=="on" %} id="flexSwitchCheckChecked" checked name="NBA" value="off" {% endif %} {% if NBA=="off" %} id="flexSwitchCheckDefault" name="NBA" value="on" {% endif %}>
        		<label class="form-check-label" {% if NBA=="off" %} for="flexSwitchCheckDefault" {% endif %} {% if NBA=="on" %} for="flexSwitchCheckChecked" {% endif %}><b> &nbsp; NBA Scores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>

        		<button type="submit" class="btn btn-success btn-sm">Update</button>



          </div>
          <div>
	        </div>
        </div>
  			<div class="card-body">
   				<div class="text-center">
  					<img src="https://i.ibb.co/gt8cDY7/Scoreboard-image.png" class="rounded" alt="...">
					</div>
    		</div>
      </div>        
    </div>
    </form>   <!-- 1X2 -->
    <div class="col">
			<div class="card bg-light mb-3" style="max-width: 18rem;">
  			<div class="card-header">
          <div class="form-check form-switch" >
            <input class="form-check-input" type="checkbox" {% if NBA=='off' %} id="flexSwitchCheckDefault" name="NBA" value="off" {% endif %} {% if NBA=='on' %} id="flexSwitchCheckChecked" name="NBA" value="on" {% endif %} onChange="this.form.submit()">
        		<label class="form-check-label" {% if NBA=='off' %} for="flexSwitchCheckDefault" {% endif %} {% if NBA=='on' %} for="flexSwitchCheckChecked" {% endif %}><b> &nbsp; NBA Scores</b></label>

      		</div>
				</div>
  			<div class="card-body">
   				<div class="text-center">
  					<img src="https://i.ibb.co/gt8cDY7/Scoreboard-image.png" class="rounded" alt="...">
					</div>
    		</div>
      </div>        
    </div>
    <!-- 1X3 -->
    <div class="col">
			<div class="card bg-light mb-3" style="max-width: 18rem;">
  			<div class="card-header">
          <div class="form-check form-switch" >
        		<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        		<label class="form-check-label" for="flexSwitchCheckDefault"><b> &nbsp; NBA Scores</b></label>
      		</div>
				</div>
  			<div class="card-body">
   				<div class="text-center">
  					<img src="https://i.ibb.co/gt8cDY7/Scoreboard-image.png" class="rounded" alt="...">
					</div>
    		</div>
      </div>        
    </div>
  </div>
</div>
    
    
    
  <img
    src="https://i.ibb.co/gt8cDY7/Scoreboard-image.png"
    class="img-fluid shadow-2-strong"
    alt="..."
  />
    <form action="/NBA", method="POST">
      <div class="form-group">
        <label>NBA </label>
        <input {% if NBA=='on' %} disabled="disabled"{% endif %} type="submit" name="NBA" class="btn btn-success" value="on"></input>
        <input {% if NBA=='off' %} disabled="disabled"{% endif %} type="submit" name="NBA" class="btn btn-danger" value="off"></input>
      </div>
    </form>
    </form>
    <form action="/starboard", method="POST">
      <div class="form-group">
        <label>Starboard </label>
        <input {% if starboard=='on' %} disabled="disabled"{% endif %} type="submit" name="starboard" class="btn btn-success" value="on"></input>
        <input {% if starboard=='off' %} disabled="disabled"{% endif %} type="submit" name="starboard" class="btn btn-danger" value="off"></input>
      </div>
    </form>
    </form>
    <form action="/conway", method="POST">
      <div class="form-group">
        <label>Conway's </label>
        <input {% if conway=='on' %} disabled="disabled"{% endif %} type="submit" name="conway" class="btn btn-success" value="on"></input>
        <input {% if conway=='off' %} disabled="disabled"{% endif %} type="submit" name="conway" class="btn btn-danger" value="off"></input>
      </div>
    </form>
  </div>

</main><!-- /.container -->

    <!-- ////////////// -->
    <!-- Your HTML here -->
    <!-- \\\\\\\\\\\\\\ -->

    <!-- Optional Bootstrap JavaScript -->
    <script src="/static/bootstrap.min.js"></script>

  </body>
</html>
