[Unit]
Description=Animations

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=animation
LimitRTPRIO=99
Restart=always
RestartSec=3
EnvironmentFile=/etc/systemd/system/animation.service.d/animation_env.conf

[Install]
WantedBy=multi-user.target
