[Unit]
Description=Gif viewer

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gifviewer
LimitRTPRIO=99
Restart=always
RestartSec=3
EnvironmentFile=/etc/systemd/system/gifviewer.service.d/gifviewer_env.conf

[Install]
WantedBy=multi-user.target
