[Unit]
Description=NBA Render

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=NBA
LimitRTPRIO=99
Restart=always
RestartSec=3
EnvironmentFile=/etc/systemd/system/NBA.service.d/NBA_env.conf

[Install]
WantedBy=multi-user.target

