[Unit]
Description=NBA Render

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=render
LimitRTPRIO=99
Restart=always
RestartSec=3
EnvironmentFile=/etc/systemd/system/render.service.d/render_env.conf

[Install]
WantedBy=multi-user.target

