[Unit]
Description=Balena wifi connect service
After=NetworkManager.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3
StandardOutput=syslog
SyslogIdentifier=wifi_connect
Type=idle
User=root
EnvironmentFile=/etc/systemd/system/wifi_connect.service.d/wifi_connect_env.conf

[Install]
WantedBy=multi-user.target
