[Unit]
Description=Balena wifi connect service
After=NetworkManager.service

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=NBA
LimitRTPRIO=99
Restart=always
User=pi
EnvironmentFile=/etc/systemd/system/wifi_connect.service.d/wifi_connect_env.conf

[Install]
WantedBy=multi-user.target
