[Unit]
Description=Balena wifi connect service
After=NetworkManager.service

[Service]
Type=simple
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=wifi-connect
Type=idle
User=root

[Install]
WantedBy=multi-user.target
